name: CI
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        build_type:
          - Debug
          - Release
        cxx_compiler:
          - g++
          - clang++

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5.0.0

      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt install -y libboost-all-dev libyaml-dev

      - run: cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_CXX_COMPILER=$CXX_COMPILER -DBOOST_ROOT=/usr
        env:
          BUILD_TYPE: ${{ matrix.build_type }}
          CXX_COMPILER: ${{ matrix.cxx_compiler }}
      - run: cmake --build build -v
      - run: cd build && make test

  test_macos:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v5.0.0

      - name: Install packages
        run: |
          brew install boost libyaml pkg-config

      - run: cmake -S . -B build
      - run: cmake --build build -v
      - run: cd build && make test
